header{
    opacity: 1;
}

.guiaIntranet{
    position: relative;
    background: url('../img/bgred.png') center / cover;
    width: 100%;
    height: 639px;
}

.textGuiIntranet{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
    color: #fff;
    padding: 0 15px;
}

.textGuiIntranet h1{
    margin-bottom: 30px;
}

p{
    font-family: 'Aero-Matics-Light';
}

.comboManuales{
    max-width: 200px;
    margin: auto;
}

.pasosIntranetCorp{
    position: relative;
    background: #fff;
    padding: 300px 0;
}

.cont-pc{
    position: absolute;
    background: url('../img/pc.png') center / cover;
    width: 900px;
    height: 630px;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-25%);
}

.cont-screen{
    position: absolute;
    background: transparent;
    top: 5%;
    left: 3%;
    right: 3.5%;
    bottom: 20%;
    overflow: hidden;
}

.slider {
    height: 100%;
}

.slider div {
    height: 100.1%;
}

.slider__item {
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    float: left;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.slider-int-corp-1{
    background-image: url('../img/paso1int.jpg');
    background-size: cover;
}

.slider-int-corp-2{
    background-image: url('../img/paso2int.jpg');
    background-size: cover;
}

.slider-int-corp-3{
    background-image: url('../img/paso3int.jpg');
    background-size: cover;
}

.slider-int-corp-4{
    background-image: url('../img/paso4int.jpg');
    background-size: cover;
}

.slider-int-corp-5{
    background-image: url('../img/paso5int.jpg');
    background-size: cover;
}

.slider-int-corp-6{
    background-image: url('../img/paso6int.jpg');
    background-size: cover;
}

.back-int {
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(200%, -50%);
    z-index: 3;
}

.back-int a, .next-int a{
    font-size: 40px;
    color: #f73439;
    padding: 0;
}

.next-int {
    position: absolute;
    top: 20%;
    right: 0;
    transform: translate(-200%, -50%);
    z-index: 3;
}

.roadRightConsulta{
    transform: translateY(18%);
}

/* Buttons Clicks */

.slider__item h6{
    color: #f73439;
}

.slider__item p{
    color: #888888;
    font-size: 14px;
    margin: 0;
}

/* Paso 1*/
.btnguia{
    position: absolute;
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: .4s all;
}

.btnLogin{
    top: 0;
    left: 47%;
    transform: translate(-180%, 280%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
      transform: translate(-180%, 280%) scale(0.9);
    }
    70% {
      transform: translate(-180%, 280%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(-180%, 280%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.btnLogin:hover {
    animation: none;
}

.guia-login{
    background: #fff;
    position: absolute;
    top: 11%;
    left: 5.5%;
    padding: 15px;
    border-radius: 15px 15px 0 15px;
    transform: translate3d(0,-1000px,0);
    transition: .4s all;
}

.close-guia-login{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-login:hover{
    color: #000;
    transform: scale(0.8);
}

/* Button Empresa */
.btnEmpresa{
    top: 0;
    left: 65%;
    transform: translate(-180%, 680%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse2 1.5s infinite;
}

.btnEmpresa:hover{
    animation: none;
}

@keyframes pulse2 {
    0% {
      transform: translate(-180%, 680%) scale(0.9);
    }
    70% {
      transform: translate(-180%, 680%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(-180%, 680%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.guia-empresa{
    background: #fff;
    position: absolute;
    bottom: 25%;
    right: 12%;
    padding: 15px;
    border-radius: 15px 15px 15px 0;
    transform: translate3d(0, 1000px,0);
    transition: .4s all;
}

.close-guia-empresa{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-empresa:hover{
    color: #000;
    transform: scale(0.8);
}

/* Paso 2 */

.btnLoginCorp{
    top: 0;
    left: 47%;
    transform: translate(-200%, 220%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse3 1.5s infinite;
}

@keyframes pulse3 {
    0% {
      transform: translate(-200%, 220%) scale(0.9);
    }
    70% {
      transform: translate(-200%, 220%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(-200%, 220%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.btnLoginCorp:hover {
    animation: none;
}

.guia-login-corp{
    background: #fff;
    position: absolute;
    top: 27%;
    left: 2%;
    padding: 15px;
    border-radius: 15px 0 15px 15px;
    transform: translate3d(0,-1000px,0);
    transition: .4s all;
}

.close-guia-login-corp{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-login-corp:hover{
    color: #000;
    transform: scale(0.8);
}


/* Paso 3 */
/* Button Serv Programados */
.btnServProg{
    top: 0;
    left: 0;
    transform: translate(120%, 240%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse4 1.5s infinite;
}

@keyframes pulse4 {
    0% {
      transform: translate(120%, 240%) scale(0.9);
    }
    70% {
      transform: translate(120%, 240%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(120%, 240%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.btnServProg:hover {
    animation: none;
}

.guia-serv-prog{
    background: #fff;
    position: absolute;
    top: 34%;
    left: 9.5%;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    transform: translate3d(0, -1000px,0);
    transition: .4s all;
}

.close-guia-serv-prog{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-serv-prog:hover{
    color: #000;
    transform: scale(0.8);
}


/* PASO 4 */
.btnPaso4{
    top: 0;
    left: 0;
    transform: translate(550%, 370%);
    box-shadow: 0 0 0 0 rgba(247, 52, 57, 0.4);
    animation: pulse5 1.5s infinite;
    border: 1px solid #f73439;
}

@keyframes pulse5 {
    0% {
      transform: translate(550%, 370%) scale(0.9);
    }
    70% {
      transform: translate(550%, 370%) scale(1);
      box-shadow: 0 0 0 50px rgba(247, 52, 57, 0);
    }
    100% {
      transform: translate(550%, 370%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(247, 52, 57, 0);
    }
}

.btnPaso4:hover {
    animation: none;
}

.guia-datos-corp{
    background: #fff;
    position: absolute;
    top: 24%;
    left: 35%;
    padding: 15px;
    border-radius: 15px 15px 15px 0;
    transform: translate3d(0, -1000px,0);
    transition: .4s all;
    box-shadow: -2px 5px 25px -5px rgba(0,0,0,0.5);
    width: 300px;
}

.close-guia-datos-corp{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-datos-corp:hover{
    color: #000;
    transform: scale(0.8);
}

/* Solicitar */
.guia-solicitar{
    background: #fff;
    position: absolute;
    top: 45%;
    left: 35%;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    transform: translate3d(0, 1000px,0);
    transition: .4s all;
    box-shadow: -2px 5px 25px -5px rgba(0,0,0,0.5);
    width: 300px;
}

.slider__item i.fa-circle{
    font-size: 5px;
    padding-right: 5px;
}

.close-guia-solicitar{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-solicitar:hover{
    color: #000;
    transform: scale(0.8);
}

/* Multipuntos */
.btnMultipuntos{
    bottom: 0;
    left: -14px;
    transform: translateY(-355%);
    box-shadow: 0 0 0 0 rgba(247, 52, 57, 0.4);
    animation: pulseM 1.5s infinite;
    border: 1px solid #f73439;
}

@keyframes pulseM{
    0% {
      transform: translateY(-355%) scale(0.9);
    }
    70% {
      transform: translateY(-355%) scale(1);
      box-shadow: 0 0 0 50px rgba(247, 52, 57, 0);
    }
    100% {
      transform: translateY(-355%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(247, 52, 57, 0);
    }
}

.btnMultipuntos:hover {
    animation: none;
}

.guia-multipuntos{
    background: #fff;
    position: absolute;
    bottom: 17%;
    left: 10px;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    transform: translate3d(0, 1000px,0);
    transition: .4s all;
    box-shadow: -2px 5px 25px -5px rgba(0,0,0,0.5);
    width: 250px;
}

.close-guia-multipuntos{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-multipuntos:hover{
    color: #000;
    transform: scale(0.8);
}


/* Paso 5 */
/* Button Historial */
.btnHistorial{
    top: 0;
    left: 0;
    transform: translate(120%, 330%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse6 1.5s infinite;
}

@keyframes pulse6 {
    0% {
      transform: translate(120%, 330%) scale(0.9);
    }
    70% {
      transform: translate(120%, 330%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(120%, 330%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.btnHistorial:hover {
    animation: none;
}

.guia-historial{
    background: #fff;
    position: absolute;
    top: 42%;
    left: 9.5%;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    transform: translate3d(0, -1000px,0);
    transition: .4s all;
}

.close-guia-historial{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-historial:hover{
    color: #000;
    transform: scale(0.8);
}



/* Paso 6 */
/* Button Pagos Pendientes */
.btnPagos{
    top: 0;
    left: 0;
    transform: translate(270%, 230%);
    box-shadow: 0 0 0 0 rgba(187, 191, 197, 0.4);
    animation: pulse7 1.5s infinite;
}

@keyframes pulse7 {
    0% {
      transform: translate(270%, 230%) scale(0.9);
    }
    70% {
      transform: translate(270%, 230%) scale(1);
      box-shadow: 0 0 0 50px rgba(187, 191, 197, 0);
    }
    100% {
      transform: translate(270%, 230%) scale(0.9);
      box-shadow: 0 0 0 0 rgba(187, 191, 197, 0);
    }
}

.btnPagos:hover {
    animation: none;
}

.guia-pagos{
    background: #fff;
    position: absolute;
    top: 30%;
    left: 18%;
    padding: 15px;
    border-radius: 0 15px 15px 15px;
    transform: translate3d(0, -1000px,0);
    transition: .4s all;
}

.close-guia-pagos{
    position: absolute;
    color: #f73439;
    top: 4%;
    right: 5%;
    font-size: 15px;
    cursor: pointer;
    transition: .4s all;
}

.close-guia-pagos:hover{
    color: #000;
    transform: scale(0.8);
}

/* Show Guias */

.show-guia{
    transform: none;
}



/* Intranet Efectivo */
.pasosIntranetEfec{
    position: relative;
    background: #fff;
    padding: 245px 0;
    text-align: center;
    color: #f73439;
}

@media (min-width: 1500px){
    .roadRightConsulta{
        transform: translateY(28%);
    }
}


@media (max-width: 1200px){
    .cont-pc{
        width: 800px;
        height: 560px;
    }

    .btnEmpresa {
        transform: translate(-180%, 610%);
    }

    @keyframes pulse2 {
        0% {
          transform: translate(-180%, 610%) scale(0.9);
        }
        70% {
          transform: translate(-180%, 610%) scale(1);
        }
        100% {
          transform: translate(-180%, 610%) scale(0.9);
        }
    }

    .guia-login {
        top: 9%;
        left: 12%;
        max-width: 200px;
    }

    .guia-empresa {
        right: 9%;
    }

    .back-int {
        left: 4%;
        transform: translate(0, -50%);
    }

    .next-int {
        right: 4%;
        transform: translate(0, -50%);
    }

    .guia-login-corp{
        max-width: 200px;
        left: 11%;
        top: 30%;
    }


    .btnServProg {
        transform: translate(100%, 200%);
    }

    @keyframes pulse4 {
        0% {
          transform: translate(100%, 200%) scale(0.9);
        }
        70% {
          transform: translate(100%, 200%) scale(1);
        }
        100% {
          transform: translate(100%, 200%) scale(0.9);
        }
    }

    .guia-serv-prog {
        top: 35%;
        left: 10%;
    }


    .btnPaso4 {
        transform: translate(480%, 320%);
    }

    @keyframes pulse5 {
        0% {
          transform: translate(480%, 320%) scale(0.9);
        }
        70% {
          transform: translate(480%, 320%) scale(1);
        }
        100% {
          transform: translate(480%, 320%) scale(0.9);
        }
    }

    .guia-datos-corp {
        top: 21%;
        left: 35%;
    }

    .guia-solicitar{
        top: 45%;
        left: 35%;
    }

    .btnMultipuntos{
        left: -16px;
        transform: translateY(-313%);
    }

    @keyframes pulseM{
        0% {
          transform: translateY(-313%) scale(0.9);
        }
        70% {
          transform: translateY(-313%) scale(1);
        }
        100% {
          transform: translateY(-313%) scale(0.9);
        }
    }

    .guia-multipuntos{
        bottom: 15%;
        left: 8px;
    }
    
    .btnHistorial{
        transform: translate(110%, 300%);
    }
    
    @keyframes pulse6 {
        0% {
          transform: translate(110%, 300%) scale(0.9);
        }
        70% {
          transform: translate(110%, 300%) scale(1);
        }
        100% {
          transform: translate(110%, 300%) scale(0.9);
        }
    }

    .btnPagos{
        transform: translate(250%, 200%);
    }
    
    @keyframes pulse7 {
        0% {
          transform: translate(250%, 200%) scale(0.9);
        }
        70% {
          transform: translate(250%, 200%) scale(1);
        }
        100% {
          transform: translate(250%, 200%) scale(0.9);
        }
    }
}

@media (max-width: 991px){
    .pasosIntranetCorp{
        padding: 200px 0;
    }

    .cont-pc{
        width: 550px;
        height: 385px;
        background-position: center;
        background-size: cover;
    }

    .roadRightConsulta{
        transform: translateY(39%);
    }

    .btnguia {
        width: 35px;
        height: 35px;
    }

    .btnLogin {
        transform: translate(-180%, 260%);
    }

    @keyframes pulse {
        0% {
            transform: translate(-180%, 260%) scale(0.9);
        }
        70% {
            transform: translate(-180%, 260%) scale(1);
        }
        100% {
            transform: translate(-180%, 260%) scale(0.9);
        }
    }

    .guia-login{
        top: 0;
        left: 0;
    }

    .slider__item p{
        font-size: 12px;
    }

    .slider__item p br{
        display: none;
    }

    .guia-empresa{
        right: 4%;
        max-width: 200px;
    }

    .btnEmpresa {
        transform: translate(-120%, 570%);
    }

    @keyframes pulse2 {
        0% {
          transform: translate(-120%, 570%) scale(0.9);
        }
        70% {
          transform: translate(-120%, 570%) scale(1);
        }
        100% {
          transform: translate(-120%, 570%) scale(0.9);
        }
    }

    .guia-login-corp {
        max-width: 180px;
        left: 2%;
        top: 32%;
    }

    .guia-serv-prog{
        max-width: 200px;
    }

    .btnPaso4 {
        transform: translate(450%, 300%);
    }

    @keyframes pulse5 {
        0% {
          transform: translate(450%, 300%) scale(0.9);
        }
        70% {
          transform: translate(450%, 300%) scale(1);
        }
        100% {
          transform: translate(450%, 300%) scale(0.9);
        }
    }

    .guia-datos-corp {
        top: 15%;
        left: 36%;
    }

    .guia-solicitar{
        left: 36%;
    }

    .btnMultipuntos {
        left: -13px;
        transform: translateY(-290%);
    }

    @keyframes pulseM{
        0% {
          transform: translateY(-290%) scale(0.9);
        }
        70% {
          transform: translateY(-290%) scale(1);
        }
        100% {
          transform: translateY(-290%) scale(0.9);
        }
    }

    .guia-multipuntos{
        bottom: 0;
        width: 160px;
    }
    
    .guia-historial{
        max-width: 260px;
    }

    .btnPagos{
        transform: translate(220%, 180%);
    }
    
    @keyframes pulse7 {
        0% {
          transform: translate(220%, 180%) scale(0.9);
        }
        70% {
          transform: translate(220%, 180%) scale(1);
        }
        100% {
          transform: translate(220%, 180%) scale(0.9);
        }
    }

}

@media (max-width: 767px){
    .pasosIntranetCorp{
        padding: 150px 0;
    }

    .cont-pc{
        width: 450px;
        height: 315px;
        background-position: center;
        background-size: cover;
    }

    .roadRightConsulta{
        transform: translateY(45%);
    }

    .slider__item h6{
        font-size: 14px;
    }

    .btnguia {
        width: 25px;
        height: 25px;
    }

    .guia-login{
        max-width: 170px;
    }

    .guia-empresa{
        right: 0;
        max-width: 180px;
    }

    .btnEmpresa {
        transform: translate(-170%, 650%);
    }

    @keyframes pulse2 {
        0% {
          transform: translate(-170%, 650%) scale(0.9);
        }
        70% {
          transform: translate(-170%, 650%) scale(1);
        }
        100% {
          transform: translate(-170%, 650%) scale(0.9);
        }
    }

    .guia-login-corp {
        max-width: 160px;
        left: 0%;
        top: 28%;
    }

    .guia-serv-prog {
        left: 8%;
    }

    .btnPaso4 {
        transform: translate(520%, 330%);
    }

    @keyframes pulse5 {
        0% {
          transform: translate(520%, 330%) scale(0.9);
        }
        70% {
          transform: translate(520%, 330%) scale(1);
        }
        100% {
          transform: translate(520%, 330%) scale(0.9);
        }
    }

    .guia-datos-corp{
        max-width: 240px;
        top: 0;
    }

    .guia-solicitar {
        max-width: 240px;
        top: inherit;
        bottom: 10%;
    }

    .btnMultipuntos {
        left: -8px;
        transform: translateY(-338%);
    }

    @keyframes pulseM{
        0% {
          transform: translateY(-338%) scale(0.9);
        }
        70% {
          transform: translateY(-338%) scale(1);
        }
        100% {
          transform: translateY(-338%) scale(0.9);
        }
    }

    .guia-multipuntos {
        bottom: 44%;
        width: 137px;
        left: 4px;
        border-radius: 15px 15px 15px 0;
    }


    .btnHistorial{
        transform: translate(110%, 280%);
    }
    
    @keyframes pulse6 {
        0% {
          transform: translate(110%, 280%) scale(0.9);
        }
        70% {
          transform: translate(110%, 280%) scale(1);
        }
        100% {
          transform: translate(110%, 280%) scale(0.9);
        }
    }

    .guia-historial {
        max-width: 100%;
        left: 0;
        top: inherit;
        bottom: 0;
    }

    .btnPagos{
        transform: translate(250%, 200%);
    }
    
    @keyframes pulse7 {
        0% {
          transform: translate(250%, 200%) scale(0.9);
        }
        70% {
          transform: translate(250%, 200%) scale(1);
        }
        100% {
          transform: translate(250%, 200%) scale(0.9);
        }
    }

}

@media (max-width: 575px){
    .cont-pc{
        width: 315px;
        height: 221px;
        background-position: center;
        background-size: cover;
        transform: translateY(-40%);
    }

    .back-int, .next-int{
        transform: translate(0, 200%);
    }

    .back-int {
        left: 10%;
    }

    .next-int {
        right: 10%;
    }

    .roadRightConsulta{
        transform: translateY(76%);
    }

    .btnguia {
        width: 20px;
        height: 20px;
    }

    .btnEmpresa {
        transform: translate(-150%, 570%);
    }

    @keyframes pulse2 {
        0% {
          transform: translate(-150%, 570%) scale(0.9);
        }
        70% {
          transform: translate(-150%, 570%) scale(1);
        }
        100% {
          transform: translate(-150%, 570%) scale(0.9);
        }
    }

    .guia-login{
        max-width: 50%;
    }

    .guia-empresa {
        top: 0;
        right: 0;
        max-width: 50%;
    }

    .guia-login-corp {
        width: 100%;
        max-width: 100%;
        left: 0%;
        top: 0;
    }

    .btnServProg {
        transform: translate(80%, 170%);
    }

    @keyframes pulse4 {
        0% {
          transform: translate(80%, 170%) scale(0.9);
        }
        70% {
          transform: translate(80%, 170%) scale(1);
        }
        100% {
          transform: translate(80%, 170%) scale(0.9);
        }
    }
    
    .guia-serv-prog{
        max-width: 100%;
        left: 0;
        top: 23%;
    }

    .btnPaso4 {
        transform: translate(440%, 280%);
    }

    @keyframes pulse5 {
        0% {
          transform: translate(440%, 280%) scale(0.9);
        }
        70% {
          transform: translate(440%, 280%) scale(1);
        }
        100% {
          transform: translate(440%, 280%) scale(0.9);
        }
    }

    .guia-datos-corp{
        right: 0;
        left: inherit;
        max-width: 50%;
        height: 100%;
        top: 0;
    }

    .guia-solicitar{
        top: 0;
        left: 0;
        max-width: 50%;
        height: 100%;
    }

    .btnMultipuntos {
        left: -7px;
        transform: translateY(-290%);
    }

    @keyframes pulseM{
        0% {
          transform: translateY(-290%) scale(0.9);
        }
        70% {
          transform: translateY(-290%) scale(1);
        }
        100% {
          transform: translateY(-290%) scale(0.9);
        }
    }

    .guia-multipuntos {
        bottom: 44%;
        width: 97%;
        left: 4px;
    }

    .btnPagos{
        transform: translate(220%, 180%);
    }
    
    @keyframes pulse7 {
        0% {
          transform: translate(220%, 180%) scale(0.9);
        }
        70% {
          transform: translate(220%, 180%) scale(1);
        }
        100% {
          transform: translate(220%, 180%) scale(0.9);
        }
    }
}

@media (max-width: 480px){
    .roadRightConsulta {
        transform: translateY(53%);
    }
}

@media (max-width: 320px){
    .cont-pc{
        width: 300px;
        height: 210px;
    }

    .btnPaso4 {
        transform: translate(420%, 280%);
    }

    @keyframes pulse5 {
        0% {
          transform: translate(420%, 280%) scale(0.9);
        }
        70% {
          transform: translate(420%, 280%) scale(1);
        }
        100% {
          transform: translate(420%, 280%) scale(0.9);
        }
    }

    .btnMultipuntos {
        left: -7px;
        transform: translateY(-277%);
    }

    @keyframes pulseM{
        0% {
          transform: translateY(-277%) scale(0.9);
        }
        70% {
          transform: translateY(-277%) scale(1);
        }
        100% {
          transform: translateY(-277%) scale(0.9);
        }
    }

    .roadRightConsulta {
        transform: translateY(47%);
    }
}
